.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 40px;
}

.card {
  width: 200px;
  border-radius: 10px;
  box-shadow: yellow;
}

.box {
  text-align: center;
  padding: 20px;
  color: azure;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  transition: all 500ms ease;
}

.img {
  border-radius: 30px;
  margin-bottom: 15px;
}

.box:hover,
.box:focus {
  transform: scale(1.1);
  color: greenyellow;
}
