.title {
  text-align: center;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  font-size: 100px;
  font-weight: bold;
  color: rgb(243, 243, 26);
  letter-spacing: 10px;
  font-family: "Londrina Sketch", sans-serif;
}
